{% extends 'base.html' %}

{% block content %}

<br/> <br/>

<form action= "{% url 'add_stock' %}" class ="d-flex" role="search" method="POST">
          {% csrf_token %}
        <input class="form-control-sm" type="search" placeholder="Add To Portfolio" aria-label="Search" name="ticker">
        <button class="btn btn-outline-secondary btn-sm" type="submit">Add Stock</button>
      </form>

      <br/>
      <table class="table caption-top table-striped table-bordered table-hover">
        <caption>List of users</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">companyName</th>
            <th scope="col">latestPrice</th>
            <th scope="col">previousClose</th>
            <th scope="col">marketCap</th>
            <th scope="col">ytdChange</th>
            <th scope="col">week52High</th>
            <th scope="col">week52Low</th>
          </tr>
        </thead>
        <tbody>
        {% if ticker %}



                {% for item_list in output %}
                <tr>
                    <th scope="row">{{item}}</th>
                    <td>{{item_list.companyName}}</td>
                    <td>${{ item_list.latestPrice}}</td>
                    <td>${{ item_list.previousClose}}</td>
                    <td>${{ item_list.marketCap}}</td>
                    <td>{{ item_list.ytdChange}}%</td>
                    <td>${{ item_list.week52High}}</td>
                    <td>${{ item_list.week52Low}}</td>            
                  </tr>

                {% endfor %}

            </tbody>
          </table>
        {% endif %}




{% endblock %}